$color-background: #121212;
$color-surface: #1e1e1e;

$color-primary: #bb86fc;
$color-primary-variant: #3700b3;
$color-secondary: #03dac6;
$color-error: #cf6679;

$color-text: #ffffff;
$color-text-variant: #000000;
